<section id="skills">
    <h2 class="section-title">Technical Skills</h2>
    <div class="skills-container">
        <div class="skill-category" id="frontend">
            <img src="assets/frontend.png" alt="Frontend Icon">
            <h3>Frontend Development</h3>
            <ul>
                <li>Angular (Lead Developer Experience)</li>
                <li>JavaScript, TypeScript</li>
                <li>Flutter (Android)</li>
            </ul>
        </div>

        <div class="skill-category" id="backend">
            <img src="assets/backend.png" alt="Backend Icon">
            <h3>Backend Development</h3>
            <ul>
                <li>REST API Development</li>
                <li>Golang, Python, Scala</li>
                <li>SQL, MySQL, PostgreSQL, MSSQL</li>
            </ul>
        </div>

        <div class="skill-category" id="data-engineering">
            <img src="assets/dataengineer.png" alt="Data Engineering Icon">
            <h3>Data Engineering</h3>
            <ul>
                <li>Apache Spark, Apache NiFi</li>
                <li>Delta Lake, Apache Iceberg, MinIO</li>
                <li>Big Data Tools: Kafka, NiFi</li>
            </ul>
        </div>

        <div class="skill-category" id="cloud">
            <img src="assets/cloud.png" alt="Cloud Icon">
            <h3>Cloud</h3>
            <ul>
                <li>AWS (S3, Glue, Athena, Gateway, Lamda, EC2, EKS)</li>
                <li>Azure (Blob, SYnapse)</li>
            </ul>
        </div>
    </div>
</section>
