<section id="home">
    <div class="hero">
        <div class="content">
            <h1>Hello.<br> I'm <span>Dyuti</span></h1>
            <h2>Software Developer</h2>
            <div class="buttons">
                <a href="https://drive.google.com/file/d/1_npGRSGRijARYwchjm6zT9soJ_lK5I6s/view?usp=sharing" target="_blank">
                    <button class="btn resume-btn">My Resume</button>
                </a>
            </div>
            
        </div>
        <div class="image">
            <img src="assets/dyuti.png" alt="Dyuti">
        </div>
    </div>
    <section id="about">
        <div class="about-container">
            <h2 class="section-title">📌 About Me</h2>
            <p>
                A results-driven software developer and data engineer with <strong>3+ years of experience</strong> in designing robust
                ETL pipelines, real-time data processing, and cloud-based solutions across <strong>Angular, AWS, SQL databases, and Big Data Tools</strong>. 
                Recognized for <strong>leading client-oriented projects</strong> and developing innovative mobile applications. 
                Honored as <strong>"Employee of the Quarter"</strong> and winner of <strong>Smart India Hackathon 2020</strong>.
            </p>
        </div>
    </section>
</section>

<!-- About Me Section -->

