<section id="home">
    <div class="hero">
        <div class="content">
            <h1>Hello.<br> I'm <span>Dyuti</span></h1>
            <h2>A Software Developer</h2>
            <div class="buttons">
                <a href="https://drive.google.com/file/d/1_npGRSGRijARYwchjm6zT9soJ_lK5I6s/view?usp=sharing" target="_blank">
                    <!-- <button class="btn resume-btn">My Resume</button> -->
                </a>
            </div>
            
        </div>
        <div class="image-container">
            <div class="image">
                <img src="assets/dyuti.png" alt="Dyuti">
            </div>
            <img src="assets/angular.png" class="icon icon-angular" alt="Angular">
            <img src="assets/html.png" class="icon icon-html" alt="html">
            <img src="assets/graphql.png" class="icon icon-graphql" alt="GraphQL">
            <img src="assets/spark.png" class="icon icon-spark" alt="Apache Spark">
            <img src="assets/aws.png" class="icon icon-aws" alt="AWS">
            <img src="assets/docker.png" class="icon icon-docker" alt="Docker">
            <img src="assets/python.png" class="icon icon-python" alt="Python">
            <img src="assets/nodeJS.png" class="icon icon-node" alt="Node.js">
            <img src="assets/golang.png" class="icon icon-golang" alt="Golang">
            <img src="assets/azure.png" class="icon icon-azure" alt="Azure">
        </div>
        
        
        
    </div>
    <div class="about">
        <div class="about-container">
            <h2 class="section-title">📌 About Me</h2>
            <p>
            A results-driven <strong>Software Developer</strong> with <strong>4 years of professional experience</strong> spanning <strong>Data Engineering</strong> and <strong>Full-Stack Development</strong>. 
            I specialize in building <strong>scalable, high-performance applications</strong> using <strong>Big Data technologies, Angular, AWS and SQL</strong>, with hands-on experience across both frontend systems and backend data platforms.
            <br /><br />
            My work includes developing a <strong>client-centric energy plant monitoring platform in Angular</strong>, designing <strong>real-time data pipelines and Spark-based ETL workflows</strong>, and contributing to <strong>cross-platform mobile applications using Flutter</strong>.
            <br /><br />
            Known for <strong>technical ownership, problem-solving, and clean system design</strong>, I was a <strong>Smart India Hackathon 2020 winner</strong> and received the <strong>“Employee of the Quarter”</strong> award for driving innovation and delivering impactful solutions.
            </p>  
        </div>
    </div>
</section>

<!-- About Me Section -->

