<section id="home">
    <div class="hero">
        <div class="content">
            <h1>Hello.<br> I'm <span>Dyuti</span></h1>
            <h2>A Software Developer</h2>
            <div class="buttons">
                <a href="https://drive.google.com/file/d/1_npGRSGRijARYwchjm6zT9soJ_lK5I6s/view?usp=sharing" target="_blank">
                    <button class="btn resume-btn">My Resume</button>
                </a>
            </div>
            
        </div>
        <div class="image-container">
            <div class="image">
                <img src="assets/dyuti.png" alt="Dyuti">
            </div>
            <img src="assets/angular.png" class="icon icon-angular" alt="Angular">
            <img src="assets/html.png" class="icon icon-html" alt="html">
            <img src="assets/graphql.png" class="icon icon-graphql" alt="GraphQL">
            <img src="assets/spark.png" class="icon icon-spark" alt="Apache Spark">
            <img src="assets/aws.png" class="icon icon-aws" alt="AWS">
            <img src="assets/docker.png" class="icon icon-docker" alt="Docker">
            <img src="assets/python.png" class="icon icon-python" alt="Python">
            <img src="assets/nodeJS.png" class="icon icon-node" alt="Node.js">
            <img src="assets/golang.png" class="icon icon-golang" alt="Golang">
            <img src="assets/azure.png" class="icon icon-azure" alt="Azure">
        </div>
        
        
        
    </div>
    <div class="about">
        <div class="about-container">
            <h2 class="section-title">📌 About Me</h2>
            <p>
                A versatile <strong>Full-Stack Developer</strong> and <strong>Data Engineer</strong> with <strong>3+ years of experience</strong> in designing and implementing scalable software and data solutions.  
                Proficient in <strong>Angular, AWS, SQL, and Big Data technologies</strong>, I specialize in building <strong>real-time data pipelines, ETL workflows, and cloud-based architectures</strong> that enhance system efficiency and scalability.  
                Spearheaded the development of a <strong>client-focused energy plant monitoring platform in Angular</strong> and contributed to <strong>innovative mobile applications in Flutter</strong>.  
                Recognized for <strong>technical leadership</strong> and problem-solving, I was honored as the <strong>Smart India Hackathon 2020 winner</strong> and awarded <strong>"Employee of the Quarter"</strong> for driving innovation and excellence.  
            </p>
            
              
        </div>
    </div>
</section>

<!-- About Me Section -->

